<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
        <section name="PricelistProviders" type="PricelistMailReader.Console.Configuration.ProvidersSection, PricelistMailReader.Console"/>
        <section name="MailConfig" type="PricelistMailReader.Console.Configuration.MailBoxSection, PricelistMailReader.Console" />
    </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="DBConnection" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=PriceList;Integrated Security=True;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <PricelistProviders>
    <Providers>
      <Provider Name="ООО &quot;Доставим в срок&quot;" VendorCaption="Бренд" DescriptionCaption="Описание" PriceCaption="Цена, руб." CountCaption="Наличие" NumberCaption="Каталожный номер"/>
    </Providers>
  </PricelistProviders>
  <MailConfig>
    <MailBoxes>
      <MailBox Name="Gmail" ServerUrl="imaps://imap.gmail.com" Port="993" />
    </MailBoxes>
  </MailConfig>
</configuration>